* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(52, 52, 52);
    color:rgb(170, 170, 170);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 1300px;
}


#navbar{
    text-align: left;
    background-color: #775d36;
    padding: 15px 20px;

    background-image: url(slike/SCP_Foundation_\(emblem\).svg.png);
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
}


#scp_found {
    margin-right: 500px;
    margin-left: 30px;
}

#navbar ul {
    max-height: 25px;
}

#navbar li {
    display: inline-block;
    list-style: none;
    margin-right: auto;
}


#navbar a {
    text-decoration: none;
    font-size: 150%;
    padding: 6px;
    color:rgb(209, 209, 209);
}

#navbar li:hover {
    border-radius: 5px;
    border-bottom: 2px solid white;
    color: rgb(183, 183, 183);
}

#moto {
    height: 200px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-repeat:no-repeat;
    background-color: rgb(120, 120, 120);
    margin-left: auto;
    margin-right: auto;
}

#moto p  {
    padding-top: 80px;
    padding-bottom: 80px;
    transition: 0.3s;
    display: inline-block;
}

#moto #dark:hover { 
    color:rgb(0, 0, 0);
}

#moto #light:hover  {
    color: white;
}


#textOne {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: 0px 10px 5px black;
    text-align: center;
    max-width: 30%;
    margin-top: 100px;
    padding: 7px;
    color:rgb(170, 170, 170);
    transition: 0.7s;
    margin-bottom: 100px;
}

#textOne:hover {
    transition: 0.5s;
    color: white;
}
img {
    max-width: 200px;
    max-height: auto;
}

#contactText {  
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#contactText p{
    margin-top: 30px;
    transition: 0.5s;
}

#contactText p:hover{
    color: white;
    transition: 0.5s;
}

#contactForm input{
    background-color: black;
    color: white;
    border: 1px dotted gray;
    border-radius: 5px;
    transition: 0.3s;
}

#contactForm input:hover  {
    border: 1px solid white;
    transition: 0.3s;
}

#contactForm textarea  {
    background-color: black;
    color: white;
    border: 1px dotted gray;
    border-radius: 5px;
    transition: 0.3s;
    padding: 3px;
}

#contactForm textarea:hover {
    border: 1px solid white;
    transition: 0.3s;
    animation:background 15s infinite ease-in-out;
}

#contactForm #send {
    padding: 5px;
    background-color: grey;
    color: whitesmoke;
    margin-top: 2px;
}
@keyframes background  {
    0% {
        box-shadow: 1px 1px 2px 2px blue
    }
    15% {
        box-shadow: 1px 1px 2px 2px  red
    }
    30% {
        box-shadow: 1px 1px 2px 2px  blue
    }
    45% {
        box-shadow: 1px 1px 2px 2px  red
    }
    60% {
        box-shadow: 1px 1px 2px 2px  blue
    }
    75% {
        box-shadow: 1px 1px 2px 2px  red
    }
    90% {
        box-shadow: 1px 1px 2px 2px  blue
    }
    100% {
        box-shadow: 1px 1px 2px 2px  blue
    }
}
#textTwo {
    display: flex;
    justify-content: center;
}

#izbor ul{
    justify-content: center;
    display: flex;
    align-items: center;
}

#izbor ul li {
    padding: 10px;
    margin: 20px 50px;
    list-style-type: none;
    border: 1px solid black;
    border-radius: 20px;
    height: 50px;
    max-width: 150px;
    text-align: center;
    transition: 1s;
}

#izbor ul li p{
    color: transparent;
    transition: 0.2s;
}

#izbor  ul li:hover{
    display: block;
    font-size: 12;
    height: 200px;
    max-width: 500px;
    transition: 1s;
}

#izbor ul li p:hover{
    color: black;
    transition: 3s;
}

.bubble img {
    max-width: 150px;
    height: auto;
}

.bubble table  {
    margin: 100px auto;
    text-align: center;
    border-spacing: 0 30px;
}

.bubble table tr {
    justify-content: center;
    padding: 100px;
    border: 1px solid black;
    border-radius: 30px;
    transition: 0.5s;
}

.bubble td {
    max-width: 500px;
    padding: 50px;
}

.bubble tr:hover {
    color: white;
    background-color: rgb(26, 26, 26);
    transition: 0.5s;
}

.lineRight {
    border-right: 1px solid black;
}

.homeText {
    background-image: url(slike/SCP_Foundation_\(emblem\).svg.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position-x: center;
    justify-content: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 30px;
    text-align: center;
    transition: 0.7s;
}

.homeText::first-letter{
    font-weight: bold;
}

.homeText:hover {
    color: rgb(193, 193, 193);
    background-color: rgb(23, 23, 23);
    transition: 0.7s;
}

